/*
Folha de estilo para alterações especificas
*/
/* 
    Created on : 11/08/2015, 16:19:02
    Author     : Adriano
*/

/*404*/
.page_notfound header{text-align: center;}
.page_notfound .notfounerror{width: 400px; font-family: 'Baumans', cursive; color: #eee; font-size: 140px; text-align: center; display: block; margin: 0 auto;}
.page_notfound header h1{font-family: 'Baumans', cursive; font-size: 50px; color: #FF6A6A;}
.page_notfound header p{font-family: 'Baumans', cursive; font-size: 16px; color: #666;}

/*CIDDH*/
.bloco{margin: 10px;}
.row{margin-top: 10px;}
.lateral{margin-top: 50px;}
.corpo{padding: 20px;border: 1px solid #282827;border-radius: 10px;max-width: 956px;}
.bg-color-branco{background: #fff;}
.bg-color-fundo{background: #d2daea;}
.bg-color-rosa{background: #f23dff;}
.bg-color-azul{background: #2828eb;}
.divbloco{height: 10px; margin: 10px;}
.btn-site{width: 200px;background: #d2daea;color: #2828eb;text-transform: uppercase;font-weight: bold;}
.header{margin-bottom: 10px;}

/*Ao imprimir*/
@media print{
    .no-print, .no-print *{display: none !important;}
    .print{display: block !important;}
    .print table{border: 2px solid #09f;}
}